/* ------------------ BANNER PRINCIPAL -----------------*/
.banner{
    grid-area: banner;
    background-color: rgb(0, 0, 0);
    margin: 2rem;
    li{
      display: inline-block;
      padding: 1rem;
    }
    img{
      width: 13rem;
    }
    a{
      padding: 1rem;
      margin: 1rem;
      color: white;
      font-size: 18px;
      font-weight:bold;

        text: {
        decoration:none;
        align: center;
        }
    }


}   

/* ********************************************* */