@import url(./css/bootstrap.css);
@import "header";
@import "grillapie";


.grilla{
    display: grid;
    grid-template-areas: 
    "categorias secciones publicidad"
    ;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 20% 60% 20%;

}
@media (min-width: 600px){
    .grilla{
        display: grid;
        grid-template-areas:
        "secciones secciones secciones"
        "categorias categorias categorias"
        "publicidad publicidad publicidad"
        ;

    }
}

/* ---------- CATEGORIAS --------------- */
.categorias{
    grid-area: categorias;
    background-color: black;
    color: red;
    padding: 1rem;
    background-repeat: repeat;
    font-size: 18px;
    

    li{
      padding: 0.5rem;
      list-style: none;
    }
    a{
      padding: 1rem;
      margin: 1rem;
      color: white;
      font-size: 20px;
      font-weight:bold;

        text: {
        decoration:none;
        align: center;
        align-items: str-index($string: "", $substring: "s");
        }
    }
    a:hover{
        color: red;
        background-color: black;
        border: 2px solid white;
        border-radius: 10px;
        padding: 5px;
    }
    
    
}
/* --------------SECCIONES --------------------- */
.secciones{
    grid-area: secciones;
    padding: 1rem;
    background-color: black;
    color:white ;
    font-size: 18px;
    
}
/* ***************************************** */

/* -------SECCION PRODUCTOS ----------*/
.seccion_producto{
    display:grid;
    background-color: black;
    grid-template-areas:
    "ruta ruta"
    "imagennano nombreprecio"
    "imagennano comprarycarro"
    "descripcion descripcion"
    "galeria_arduino galeria_arduino"
    "comentarios comentarios"
    ;
    grid-template-columns: 50% 50%;
}
.comentarios{
    grid-area: comentarios;
    padding: 1rem;
    margin: 1rem;
    color: white;
}
.ruta{
    grid-area: ruta;
    padding: 1rem;
    color: white;
    margin: 1rem;
}
.comprarycarro li{
    display:inline-block;
    padding: 2px;
    margin: 2px;
    
}
.comprarycarro{
    grid-area: comprarycarro;
    color: white;
    padding: 2rem;
    margin: 2rem;
}
.imagennano{
    grid-area: imagennano;
    padding: 1rem;
    margin: 1rem;
    
}

.nombreprecio{
    grid-area: nombreprecio;
    color: white;
    padding-left: 2rem;
    margin: 2rem;
    font-size: 20px;
    
}

.descripcion{
    grid-area: descripcion;
    color: white;
    padding: 1rem;
    margin: 1rem;
    font-size: 18px;
    li{
      display: inline-block;
    }
}

.galeria_arduino img{
    grid-area: galeria_arduino;
    padding: 1rem;
    margin: 1rem;
}
.boton_p{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 20px;
    font: weight 600px;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: black;
    color: white;
}
.boton_p:hover, .boton_p:focus{
    color: red;
}
.galeria_arduino IMG:hover{
    transform: scale(1.5);
}
/* ----------------------------------- */
/* PIE DE PAGINA */
.pie{
    grid-area: pie;
    display: flex;
    background-image: url(./img/fondorojo.jpg);
    justify-content: space-around;
    color: white;
}
.footer-menu li{
  list-style: none;
}
.publicidad{
    grid-area: publicidad;
    padding: 1rem;
    color: white;
    background-color: black;
}
.creditos{
    grid-area: creditos;
    background-image: url(./img/fondorojo.jpg);
    color: white;
    text-align: center;
}
.caja-ardu{
    display: flex;
    flex-wrap:wrap ;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    
}
.ardu{
    height: 300px;
    margin: 5px;

}
.galeria_arduino{
    padding: 1rem;
   
}
.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    width: 800px;
    margin: 0 auto;
    font-family: 'Varela', sans-serif;
 }

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 16px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: 8px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}
/* %%%%%%  PAGINA EN CONSTRUCCION  %%%%%%%%%%%%%%%%%%%%%%% */
.img-holder {position: relative;}

.img-holder .link {
    position: absolute;
    left: 37rem; /*button position*/
     /*button position*/
    top: 7rem;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */