@import url(./css/bootstrap.css);
.grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "categorias secciones publicidad";
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  background-color: black;
}

@media (max-width: 768px) {
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "secciones secciones secciones" "publicidad publicidad publicidad";
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (min-width: 768px) {
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "secciones publicidad";
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  .publicidad {
    padding-right: 3rem;
  }
  .categorias {
    display: none;
  }
}

@media (min-width: 992px) {
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "categorias secciones publicidad";
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    background-color: black;
  }
}

/* ------------------ BANNER PRINCIPAL -----------------*/
.banner {
  grid-area: banner;
  background-color: black;
  margin: 2rem;
}

.banner li {
  display: inline-block;
  padding: 1rem;
}

.banner img {
  width: 13rem;
}

.banner a {
  padding: 1rem;
  margin: 1rem;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

/* ********************************************* */
.grillapie {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logopie sobrefys serviciosfys comunidadfys";
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 40% 20% 20% 20%;
      grid-template-columns: 40% 20% 20% 20%;
  background-color: black;
  padding-bottom: 5rem;
}

.logopie {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logopie;
  text-align: center;
}

.logopie ul {
  text-align: center;
}

.sobrefys {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sobrefys;
  text-align: start;
  padding-top: 3rem;
}

.sobrefys li {
  color: white;
  list-style: none;
}

.sobrefys li a {
  text-decoration: none;
  color: white;
}

.sobrefys li a:hover {
  color: #0fbaee;
}

.serviciosfys {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: serviciosfys;
  padding-top: 3rem;
}

.serviciosfys li {
  color: white;
  list-style: none;
}

.serviciosfys li a {
  color: white;
  text-decoration: none;
}

.serviciosfys li a:hover {
  color: #0fbaee;
}

.comunidadfys {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: comunidadfys;
  padding-top: 3rem;
}

.comunidadfys li {
  color: white;
  list-style: none;
}

.comunidadfys li a {
  color: white;
  text-decoration: none;
}

.comunidadfys li a:hover {
  color: #0fbaee;
}

@media (max-width: 576px) {
  .grillapie {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logopie logopie" "sobrefys serviciosfys" "comunidadfys comunidadfys";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    background-color: black;
    padding-bottom: 5rem;
    padding-left: 0rem;
  }
  .sobrefys {
    padding-left: 0rem;
  }
  .serviciosfys {
    padding-left: 0rem;
  }
  .comunidadfys {
    padding-left: 0rem;
  }
}

body {
  background-color: black;
}

/* ---------- CATEGORIAS --------------- */
.categorias {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: categorias;
}

/* --------------SECCIONES --------------------- */
.secciones {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secciones;
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 18px;
}

/* ***************************************** */
/* -------CONTENIDO ----------*/
.descripcion {
  grid-area: descripcion;
  color: white;
  padding: 1rem;
  margin: 1rem;
  font-size: 18px;
}

.descripcion li {
  display: inline-block;
}

/* ----------------------------------- */
.publicidad {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: publicidad;
  padding: 1rem;
  color: white;
  background-color: black;
}

/* %%%%%%  PAGINA EN CONSTRUCCION  %%%%%%%%%%%%%%%%%%%%%%% */
.img-holder {
  position: relative;
}

.img-holder .link {
  position: absolute;
  left: 37rem;
  /*button position*/
  /*button position*/
  top: 7rem;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/*# sourceMappingURL=estilos.css.map */