
@import "grillacont";
@import url(./css/bootstrap.css);
@import "header";
@import "grillapie";

body{
    background-color: black;
}

/* ---------- CATEGORIAS --------------- */
.categorias{
    grid-area: categorias;
}


/* --------------SECCIONES --------------------- */
.secciones{
    grid-area: secciones;
    padding: 1rem;
    background-color: black;
    color:white ;
    font-size: 18px;
    
}
/* ***************************************** */

/* -------CONTENIDO ----------*/
.descripcion{
    grid-area: descripcion;
    color: white;
    padding: 1rem;
    margin: 1rem;
    font-size: 18px;
    li{
      display: inline-block;
    }
}
/* ----------------------------------- */
.publicidad{
    grid-area: publicidad;
    padding: 1rem;
    color: white;
    background-color: black;
}

/* %%%%%%  PAGINA EN CONSTRUCCION  %%%%%%%%%%%%%%%%%%%%%%% */
.img-holder {position: relative;}

.img-holder .link {
    position: absolute;
    left: 37rem; /*button position*/
     /*button position*/
    top: 7rem;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
